/* ========== ESTILO GENERAL ======== */

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: gray;
    /* letra */
    font-family: 'Roboto Condensed', sans-serif;
    height: 2000px;
}


/* ======= NAVBAR ====== */

.navbar {
    background-color: black;
    color: white;
}

.navbar ul {
    /* propiedades flex de navbar */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    padding: 10px;
}


/* ======= POSITION ========= */

.contenedor {
    background-color: #d3b281;
    height: 20vh;
    font-size: 2rem;
    padding: 10px;
    position: relative;
}

.contenedor h1 {
    text-align: center;
    font-size: 1.5rem;
}


/* items con posicion */

.item-1 {
    background-color: #dc143c;
    position: relative;
    top: 15px;
    right: 5px;
}

.item-2 {
    background-color: #dc6e14;
    position: absolute;
    top: 1px;
}

.item-3 {
    background-color: #1467dc;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.item-4 {
    background-color: #159103;
    position: sticky;
    top: 0;
}


/* ====== SECCION PASOS GITHUB ======== */

.seccion-pasos {
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
}

.seccion-pasos ol p {
    font-size: 1rem;
}